@model ShoppersParadiseMailingServiceApp.Models.Post

@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.PostId);
    @Html.EditorForModel()

    <p>
        <input type="submit" value="Update" />
    </p>
}