@{
    ViewBag.Title = "Contact";
}
<h2>.@ViewBag.Title</h2>
<div class="jumbotron">
    <div>
        <h3>For furher information please contact us</h3>
        <hr />
        <address>
            <abbr>Cell:</abbr>
            0772 902 299
        </address>

        <address>
            <strong>Info:</strong>   <a href="mailto:admin@shoppersparadise.co.zw">admin@shoppersparadise.co.zw</a><br />
            <strong>Marketing:</strong> <a href="mailto:julio@seo-zimbabwe.com">julio@seo-zimbabwe.com</a>
        </address>
    </div>
</div>